---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="プロフィール"
	description="haton14について"
	pubDate={new Date("2023/04/28")}
	updatedDate={new Date("2023/04/28")}
	heroImage="/pigeon-gopher.avif"
>
	<p>ソフトウェア開発者</p>
	<p>Webのバックエンドがメイン</p>
	<p>茨城県出身 東京都在住 1995年生まれ</p>

	<p>好きな飲み物</p>
	<ul>
		<li>コーヒー</li>
		<li>苦味抑えめのビール</li>
		<li>ワイン</li>
		<li>オレンジジュース</li>
		<li>マンゴージュース</li>
		<li>水</li>
		<li>青汁</li>
	</ul>
	<p>飼った事ある生き物</p>
	<ul>
		<li>ファンシーラット</li>
		<li>ゴールデンハムスター</li>
		<li>カブトムシ・クワガタムシ約15種類を300匹くらい</li>
		<li>ゴールデンレトリバー</li>
		<li>猫</li>
		<li>リクガメ</li>
		<li>メダカ</li>
		<li>ヤマトヌマエビ</li>
		<li>ミナミヌマエビ</li>
		<li>ウツボカズラ</li>
	</ul>
</Layout>
